.noOrders {
  width: 90%;
  background: var(--sub-color);
  padding: 10px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 4px 10px #33333370;
}

.links {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  display: flex;
  align-items: center;
}

.links a {
  width: 100%;
}

.links a:nth-child(2) {
  background: var(--main-color);
  height: 40px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--sub-color);
  -webkit-box-shadow: 0px 4px 10px #33333370;
}

a.offer::after {
  content: "15% off";
  background: #80a1a9;
  width: 40%;
  height: 100%;
  position: absolute;
  border-radius: 5px;
  direction: ltr;
  left: 0;
  display: grid;
  place-content: center;
}
.offer p {
  margin-left: 100px;
}

.offer {
  position: relative;
  background: var(--main-color);
  width: 70%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  border-radius: 5px;
  text-decoration: none;
  color: var(--sub-color);
  -webkit-box-shadow: 0px 4px 10px #33333370;
}

.icons {
  width: 100%;
  position: relative;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons i:nth-child(1) {
  position: absolute;
  color: var(--main-color);
  font-size: 150px;
}

.icons i:nth-child(2) {
  position: absolute;
  top: 47.5%;
  left: 32.5%;
  transform: rotate3d(1, 2, 1, 47deg);
  font-size: 50px;
  color: var(--sub-color);
}
